


.btn {
    width: 140px;
    height: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-left-button {
    background: var(--color-header-left-button);

    color: white;
}

.header-right-button {
    background: var(--color-header-right-button);
    
    color: black;

    
}
.header-left-button:hover {
    background: var(--color-header-left-button-hover);

    color: white;
}

.header-right-button:hover {
    background: var(--color-header-right-button-hover);

    
}