


.btn {
    width: 140px;
    height: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-left-button {
    background: var(--color-header-left-button);

    color: white;
}

.header-right-button {
    background: var(--color-header-right-button);
    
    color: black;

    
}
.header-left-button:hover {
    background: var(--color-header-left-button-hover);

    color: white;
}

.header-right-button:hover {
    background: var(--color-header-right-button-hover);

    
}


/* inputs */

.join-inputs-container input{
    background: var(--color-join-inputs);
    border: none;
    font-size: 20px;
    padding-left: 0.5rem; 
    
}



.join-input-name input {
    width: 290px;
    height: 50px;
}

.join-info-container input {
    height: 50px;
    
}


.login-input-wrap input {
    height: 50px;
    background: var(--color-login-inputs);
    border: none;
    font-size: 20px;
    padding-left: 0.5rem; 
}

.join-go-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.login-go-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

