



.main-container {
    height: 100vh;
    background: var(--color-main-container);
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
}

.header-container {
    height: 150px;
    display: flex;
    justify-content: space-between;
 
}

.logo-container {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}


.header-button-container {
    width: 300px;
    height: 150px;

    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.welcome-body-container {
    padding-top: 4rem;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: white;
}

.join-body-container {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.join-inputs-container {
   background: var(--color-join-inputs-container);
   width: 700px;
   height: 700px;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
}