



.main-container {
    height: 100vh;
    background: var(--color-main-container);
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
}

.header-container {
    height: 150px;
    display: flex;
    justify-content: space-between;
 
}

.logo-container {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}


.header-button-container {
    width: 300px;
    height: 150px;

    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.welcome-body-container {
    padding-top: 4rem;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: white;
}

.join-body-container {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.join-inputs-container {
   background: var(--color-join-inputs-container);
   width: 700px;
   height: 700px;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   padding: 1rem;
   align-items: center;
}


.join-inputs-header {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-block: 1rem;
}

.login-inputs-header {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-block: 1rem;
    
}

.join-inputs-form {
 
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.login-inputs-form {
 
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
   
    justify-content: center;
}


.join-name-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-info-container {
    display: flex;
    flex-direction: column;

    
}

.join-input-name {
    display: flex;
    flex-direction: column;
}

.join-info-wrap {
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;
}
.login-input-wrap {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
}

.join-input-label {
    color: white;
    font-size: 15px;
}
.login-input-label {
    color: white;
    font-size: 15px;
}


.join-inputs-footer {
    height: 80px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.error-message-container {
    width: 400px;
    height: 60px;
  
}

.login-error-container {
    width: 400px;
    height: 60px;
  
}

.login-error-message {
    color: rgb(255, 80, 80);
}

.error-message-text {
    color: rgb(255, 80, 80);
}




.login-body-container {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inputs-container {
    background: var(--color-join-inputs-container);
   width: 700px;
   height: 700px;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   padding: 1rem;
   align-items: center;

}


.login-inputs-footer {
    height: 80px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}




