



.main-container {
    height: 100vh;
    background: var(--color-main-container);
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
}

.header-container {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  
 
}


.wel-body-container {
    display: flex;
    height: calc(100vh - 150px);
    justify-content: space-between;


    
}

.welcome-left-container {
    width: 400px;
    height: calc(100vh - 150px);
    background: rgba(0, 0, 0, 0.29);
    display: flex;
    position: relative;
}

.star-img {
    position: absolute;
    right: 20px;
    top: 20px;
}

.welcome-middle-container {
    width: 1000px;
    height: calc(100vh - 150px);
    background: rgba(0, 0, 0, 0.684);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    padding: 1rem;

}

.card {
    width: 122px;
    height: 150px;
    background: rgba(0, 215, 104, 0.823);
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

.welcome-right-container {
    width: 450px;
    height: calc(100vh - 150px);
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.welcome-right-box {
    width: 440px;
    height: 250px;
    background: rgb(186, 186, 186);
    margin-block: 0.5rem;
}

.header-search-container {
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-img {
    position: absolute;
    left: 20px;
}

.search-input {
    width: 800px;
    height: 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: rgb(69, 68, 68);
    padding-left: 4rem;
    font-size: 25px;
    color: white;


}

.header-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
   
}

.header-name {
    font-size: 30px;
    color: white;
   
}

.logo-container {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}


.header-button-container {
    width: 300px;
    height: 150px;

    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.welcome-body-container {
    padding-top: 4rem;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    color: white;
}

.join-body-container {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.join-inputs-container {
   background: var(--color-join-inputs-container);
   width: 700px;
   height: 700px;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   padding: 1rem;
   align-items: center;
}


.join-inputs-header {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-block: 1rem;
}

.login-inputs-header {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-block: 1rem;
    
}

.join-inputs-form {
 
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
}
.login-inputs-form {
 
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
   
    
    justify-content: center;
}


.join-name-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-info-container {
    display: flex;
    flex-direction: column;

    
}

.join-input-name {
    display: flex;
    flex-direction: column;
}

.join-info-wrap {
    display: flex;
    flex-direction: column;
    margin-block: 0.5rem;
}
.login-input-wrap {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
}

.join-input-label {
    color: white;
    font-size: 15px;
}
.login-input-label {
    color: white;
    font-size: 15px;
}

.login-inputs-wrap {
   
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;
}


.join-inputs-footer {
    height: 100px;

    margin-top: 1rem;
    
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.error-message-container {
    width: 400px;
    height: 60px;
  
}

.login-error-container {
    width: 400px;
    height: 60px;
  
}

.login-error-message {
    color: rgb(255, 80, 80);
}

.error-message-text {
    color: rgb(255, 80, 80);
}




.login-body-container {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inputs-container {
    background: var(--color-join-inputs-container);
   width: 700px;
   height: 700px;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   padding: 1rem;
   align-items: center;

}


.login-inputs-footer {
    height: 80px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}




